.road-scene-sign {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.road-scene-sign h2 {
    text-align: center;
    font-family: "Agam";
    font-size: clamp(1.3rem, 1.8vw + 0.8vh, 2.2rem);
}

.scene-layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    padding: 0 6vw;
    margin-top: 2vh;
    text-align: right;
}

.road-sign {
    width: 100%;
    height: 5vh;
    /* margin-top:-2vh; */

    background: linear-gradient(to bottom,
            #313131,
            #4a4a4a);

    border-top: 0.6vh solid #2f2f2f;
    position: relative;
}

.road-sign::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.8vh;
    transform: translateY(-50%);

    background: repeating-linear-gradient(to right,
            white 0px,
            white 30px,
            transparent 30px,
            transparent 60px);

    opacity: 0.6;
}

.street-lamp {
    height: 28vh;
    object-fit: contain;
}

.sign {
    position: relative;
    bottom: 6vh;
    right: 4vh;

    width: clamp(250px, 28vw, 380px);

    background: #009484;
    color: white;
    padding: 1vh;
    border-radius: 6px;
}

.content-border {
    border: 0.22vh solid white;
    border-radius: 12px;
    padding: 2vh;
}

.sign-legs {
    position: absolute;
    bottom: -6vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 6vh;
}

.sign-legs::before,
.sign-legs::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1.2vh;
    height: 6vh;
    background: #8c8c8c;
    /* border-radius:4px; */
}

.sign-legs::before {
    left: 20%;
}

.sign-legs::after {
    right: 20%;
}

.text1-sign,
.text2-sign {
    display: flex;
    align-items: center;
    padding-bottom: 2vh;
}

.text-sign {
    font-size: clamp(0.5rem, 0.7vw + 0.3vh, 1rem);
}

.img1-sign {
    width: 4vh;
}

.img2-sign {
    width: 1.8vh;
    margin-left: 2%;
}

.text3-sign {
    color: black;
    background: #EABC51;
    text-align: center;
    border-radius: 12px;
    border: 0.22vh solid black;
    padding: 0.4vh;
}